In [4]:
import pandas as pd

In [5]:
income_data = "GA_Prop_NHPD.csv"
income_data_df = pd.read_csv(income_data)
#income_data_df = pd.read_csv(income_data, encoding="ISO-8859-1")
income_data_df.head()

,NHPD Property ID,Property Name,Property Address,City,State,Zip,CBSACode,CBSA Type,County,County Code,...,State_1_ConstructionType,State_2_ID,State_2_Status,State_2_ProgramName,State_2_StartDate,State_2_EndDate,State_2_AssistedUnits,State_2_InacStatusDesc,State_2_ConstructionType,Old NHPD Property ID
0,1037886,SWAINSBORO PRESBYTERIAN APARTMENTS,310 Mary Ann St,Swainsboro,GA,30401-3050,NaN,NaN,Emanuel,13107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.0
1,1037891,GREEN MEADOWS TOWNHOUSES,3867 Log Cabin Dr,Macon,GA,31204-4144,31420,Metropolitan Statistical Area,Bibb,13021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,515.0
2,1002244,LAKEVIEW APARTMENTS,1210 Stewart St,Carrollton,GA,30117-1741,12060,Metropolitan Statistical Area,Carroll,13045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1037884,TATTNAL EVANS HSNG INC,312 Henry St,Glennville,GA,30427-2456,NaN,NaN,Tattnall,13267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
4,1015064,BATTLEWOOD APARTMENTS,1830 Fant Dr,Fort Oglethorpe,GA,30742-3349,16860,Metropolitan Statistical Area,Catoosa,13047.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
income_data_df.dtypes()

TypeError: 'Series' object is not callable

In [42]:
income_data_df.columns

Index(['NHPD Property ID', 'Property Name', 'Property Address', 'City',
       'State', 'Zip', 'CBSACode', 'CBSA Type', 'County', 'County Code',
       ...
       'State_1_ConstructionType', 'State_2_ID', 'State_2_Status',
       'State_2_ProgramName', 'State_2_StartDate', 'State_2_EndDate',
       'State_2_AssistedUnits', 'State_2_InacStatusDesc',
       'State_2_ConstructionType', 'Old NHPD Property ID'],
      dtype='object', length=234)

In [7]:
subset_income_pd = income_data_df[['NHPD Property ID', 'PropertyStatus', 'Property Name', 'Property Address', 'City',
                                   'State', 'Zip', 'Census Tract', 'Active Subsidies',  
                                   'TargetTenantType','Occupancy Rate','0-1 BedroomUnits', 'TwoBedroomUnits',
                                   'ThreePlusBedroomUnits','Percent of ELI Households', 'HUD Property ID', 
                                   'FairMarketRent_2BR', 'Owner Type', 'EarliestStartDate', 'Total Units', 
                                    'S8_1_AssistedUnits', 'S202_1_AssistedUnits', 'FHA_1_AssistedUnits', 'FHA_2_AssistedUnits',
                                   'LIHTC_1_AssistedUnits', 'LIHTC_2_AssistedUnits', 'HOME_1_AssistedUnits', 'RHS515_1_AssistedUnits']]

subset_income_pd.rename(columns={'S202_1_AssistedUnits': 'Supportive Housing Elderly', 'RHS515_1_AssistedUnits': 'Rural Rental Housing', 'LIHTC_1_AssistedUnits' :
                                'Low Income Housing Tax Credit', 'LIHTC_2_AssistedUnits':'Low Income Housing Tax Credit sub-program',
                                 'S8_1_AssistedUnits':'Section 8 Housing Units', 'FHA_1_AssistedUnits': 'FHA Loan Units', 'FHA_2_AssistedUnits':
                                 'FHA Loan Sub_Program Units', 'HOME_1_AssistedUnits':'HOME Grants ', 'Census Tract':'GEOID'
                                },inplace=True)
subset_income_pd.head()

C:\Users\GAS01574\AppData\Local\Continuum\anaconda4\envs\PythonData\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,NHPD Property ID,PropertyStatus,Property Name,Property Address,City,State,Zip,GEOID,Active Subsidies,TargetTenantType,...,EarliestStartDate,Total Units,Section 8 Housing Units,Supportive Housing Elderly,FHA Loan Units,FHA Loan Sub_Program Units,Low Income Housing Tax Credit,Low Income Housing Tax Credit sub-program,HOME Grants,Rural Rental Housing
0,1037886,Active,SWAINSBORO PRESBYTERIAN APARTMENTS,310 Mary Ann St,Swainsboro,GA,30401-3050,1.310797e+10,1,Elderly,...,7/1/2006,50,50.0,NaN,50.0,NaN,NaN,NaN,NaN,NaN
1,1037891,Inconclusive,GREEN MEADOWS TOWNHOUSES,3867 Log Cabin Dr,Macon,GA,31204-4144,1.302101e+10,0,Family,...,6/1/2017,120,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1002244,Active,LAKEVIEW APARTMENTS,1210 Stewart St,Carrollton,GA,30117-1741,1.304591e+10,1,Elderly,...,10/1/1979,99,98.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN
3,1037884,Active,TATTNAL EVANS HSNG INC,312 Henry St,Glennville,GA,30427-2456,1.326795e+10,1,Disabled,...,5/25/1990,6,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1015064,Inconclusive,BATTLEWOOD APARTMENTS,1830 Fant Dr,Fort Oglethorpe,GA,30742-3349,1.304703e+10,0,Family,...,5/1/1974,150,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
atlanta_subset = subset_income_pd.loc[subset_income_pd["City"]== "Atlanta"]
atlanta_subset.head()

,NHPD Property ID,PropertyStatus,Property Name,Property Address,City,State,Zip,Census Tract,Active Subsidies,TargetTenantType,...,0-1 BedroomUnits,TwoBedroomUnits,ThreePlusBedroomUnits,Percent of ELI Households,HUD Property ID,FairMarketRent_2BR,Owner Type,EarliestStartDate,Total Units,S8_1_AssistedUnits
11,1018455,Inconclusive,GLENROSE GARDENS - BRANDYWINE,85 Mount Zion Rd SW,Atlanta,GA,30354-2349,1.312101e+10,0,Family,...,7.0,43.0,30.0,75.0,800004636.0,990.0,Profit Motivated,8/1/2014,238,80.0
22,1037987,Active,FRIENDSHIP TOWERS,35 Northside Dr SW,Atlanta,GA,30313-1436,1.312100e+10,2,Elderly,...,97.0,5.0,0.0,90.0,800004765.0,990.0,Non-profit,3/24/1981,102,102.0
27,1037933,Active,JEWISH TOWER,3160 Howell Mill Rd NW,Atlanta,GA,30327-2111,1.312101e+10,2,Elderly,...,192.0,8.0,0.0,47.0,800005010.0,1510.0,Non-Profit,12/1/2005,200,200.0
35,1037870,Active,ATLANTA GROUP HOME ...,3095 Margaret Mitchell Dr NW,Atlanta,GA,30327-1615,1.312101e+10,1,Disabled,...,7.0,NaN,NaN,NaN,800004606.0,1510.0,Non-Profit,1/1/2015,8,7.0
39,1039121,Active,BETMAR VILLAGE,345 Ashwood Ave SW,Atlanta,GA,30315,1.312101e+10,3,Elderly,...,48.0,NaN,NaN,74.0,800232093.0,980.0,Profit Motivated,1/1/2014,48,36.0